In [3]:
import matplotlib.pyplot as plt
import pandas as pd

PATH_HADCRUT_MNTHLY_AVG = "/home/phippsy/Projects/ClimateAmbassador/\
visualizations/data/HadCRUT.4.6.0.0.monthly_ns_avg.tsv"

hadcrut = pd.read_csv(
    PATH_HADCRUT_MNTHLY_AVG,
    delim_whitespace=True,
    usecols=[0,1],
    header=None)

hadcrut.keys

<bound method NDFrame.keys of             0      1
0     1850/01 -0.700
1     1850/02 -0.286
2     1850/03 -0.732
3     1850/04 -0.563
4     1850/05 -0.327
...       ...    ...
2058  2021/07  0.725
2059  2021/08  0.711
2060  2021/09  0.681
2061  2021/10  0.729
2062  2021/11  0.710

[2063 rows x 2 columns]>

In [4]:
hadcrut

            0      1
0     1850/01 -0.700
1     1850/02 -0.286
2     1850/03 -0.732
3     1850/04 -0.563
4     1850/05 -0.327
...       ...    ...
2058  2021/07  0.725
2059  2021/08  0.711
2060  2021/09  0.681
2061  2021/10  0.729
2062  2021/11  0.710

[2063 rows x 2 columns]

In [7]:
hadcrut['year'] = hadcrut.iloc[:, 0].apply(lambda x: x.split("/")[0]).astype(int)
hadcrut['month'] = hadcrut.iloc[:, 0].apply(lambda x: x.split("/")[1]).astype(int)
hadcrut.keys

<bound method NDFrame.keys of             0      1  year  month
0     1850/01 -0.700  1850      1
1     1850/02 -0.286  1850      2
2     1850/03 -0.732  1850      3
3     1850/04 -0.563  1850      4
4     1850/05 -0.327  1850      5
...       ...    ...   ...    ...
2058  2021/07  0.725  2021      7
2059  2021/08  0.711  2021      8
2060  2021/09  0.681  2021      9
2061  2021/10  0.729  2021     10
2062  2021/11  0.710  2021     11

[2063 rows x 4 columns]>